
body {background: #EBEBEB;}




ul 	{	display: flex;
		justify-content: flex-end;
		width: 90%;
		margin: auto;
		list-style: none;
		background: #181349;
	}

a 	{	text-decoration: none;
		font-size: 15px;
		font-family: georgia;
		color: white;
		padding: 10px 10px 10px 10px;
		color: white;
		border-right: 3px solid white;
	}

.navbar  a ::after	{	content: '';
						width: 0%;
						height: 2px;
						margin: auto;
						background: #4EF64B;
						display: block;
						transition: 0.3s;
					}

.navbar  a :hover::after	{	width: 100%; }


.logo	{	text-align: center;
						}





.rectangle1 { 	
				width: 450px;
				height: 3px;
				background: #4EF64B;
			}
.rectangle {	height: 60px;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 30px;
			}

.the-team	{font-size: 30px;}

.paragraph	{	font-family: georgia;
				font-size: 16px;
				text-align: justify;
				margin: 0px 100px 0px 100px ;

			}
.team-link 	{color: blue;
			text-decoration: italic;
			font-size: 16px;
		

			}

.wc	{	margin-bottom: 5px;
		margin-top: 30px;
		}
.oc {margin-bottom: 5px;
		}

.oe  {margin-bottom: 0px;
		margin-top: 30px;}
